:root {
  --primary-bg-color: #0D0D0D;
  --text-color: #ffffff;
  --main-bg-color: #BF604B;
  --main-text-color: #fff;
  --main-btn-bg-color: #D9A84E;
  --progress-bar-color: #25A6D9;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}
textarea{
  font-family: "Pixellify Sans", sans-serif;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Header styling */
header {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.volume-controls {
  display: flex;
  align-items: left;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.volume-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

#volume-slider {
  width: 100px;
  border: 2px solid;
  accent-color: var(--progress-bar-color)
}


.progress-bar {
  width: 90%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--progress-bar-color);
  width: 0;
  transition: width 0.3s ease;
}

.time {
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
